.icon-container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.buttons {
    padding:20px;
}

.titles {
    text-align: center;
    margin-top: 10vh;
}

.big-name {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
}

.little-title {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    font-family: 'Source Serif Pro', serif;
}

.home {
    display: flex;
    justify-content: center;
}